@using pauperbv_2._0.Models;
@{
    ViewBag.Title = "edit";



    if (IsPost)
    {
        song song = new song();
        song.addsong();
        Response.Redirect("show");
    }


}
<style>
    input  
    {
        display: table;
        margin: 5px;
    }
</style>

<h2>add</h2>

    <form action="" method="post">
        <input type="textbox" name="artist" value="" placeholder="artist" />
        <input type="textbox" name="title" value="" placeholder="title" />
        <input type="textbox" name="year" value="" placeholder="year" />
        <input type="textbox" name="genre" value="" placeholder="genre" />
        <input type="textbox" name="time" value="" placeholder="time" />
        <input type="textbox" name="file" value="" placeholder="youtube embed" />

        <input type="submit" name="edit" value="Add song" />

    </form>


