@using pauperbv_2._0.Models;
@{
    ViewBag.Title = "edit";



    if (IsPost)
    {
        song song = new song();
        song.addsong();
        Response.Redirect("show");
    }


}

<h2>add</h2>

<form action="" method="post">
    <input type="textbox" name="artist" value="" />
    <input type="textbox" name="title" value="" />
    <input type="textbox" name="year" value="" />
    <input type="textbox" name="genre" value="" />
    <input type="textbox" name="time" value="" />
    <input type="textbox" name="file" value="" />

    <input type="submit" name="edit" value="Add song" />

</form>

