<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <form action="" method="post">
        <input type="textbox" name="artist" value="" />
        <input type="textbox" name="title" value="" />
        <input type="textbox" name="year" value="" />
        <input type="textbox" name="genre" value="" />
        <input type="textbox" name="time" value="" />
        <input type="textbox" name="file" value="" />

        <input type="submit" name="edit" value="Add song" />

    </form>
</body>
</html>
