@using System.Data;
@using project_Csharp.csfiles;
@{ 

    Xml xml = new Xml();


   

    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <title>C# Brendan en Kris</title>
</head>
<body>
    <div id="container">

        <header>
            <div id="headerTitle">
                <a href="">Pauper B.V.</a>
            </div>
        </header>

        <nav>
            <div id="navItems">
                <a href=""> XML </a>| <a href=""> JSON </a> | <a href="~/addSong.cshtml"> Pauper 1 </a> | <a href=""> Pauper 2 </a> | <a href=""> Pauper 3 </a>
            </div>
        </nav>

        <div id="contentContainer" min>
            <div id="musicList">
                <div id="musicListHeader">Muziek<a href="~/addSong.cshtml"><img src="~/img/plusButton.png" id="plusButton" /></a></div>
                @foreach (DataRow dr in xml.ds.Tables[0].Rows)
                {
                    <div class="musicListItems"><a>@dr["id"].  @dr["artist"]  -  @dr["title"]</a><a href="#"><img src="~/img/editButton.png" class="crudButtons" id="editButton"/></a><a href="delete.cshtml?id=@dr["id"]"><img src="~/img/deleteButton.png" class="crudButtons" id="deleteButton" /></a></div>
                }
            </div>
            

            <div id="content">

            </div>
        </div>

    </div>
</body>
</html>
