@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <title>C# Brendan en Kris</title>
</head>
<body>
    <div id="container">

        <header>
            <div id="headerTitle">
                <a href="">Pauper B.V.</a>
            </div>
        </header>

        <nav>
            <div id="navItems">
                <a href=""> XML </a>| <a href=""> JSON </a> | <a href=""> Pauper 1 </a> | <a href=""> Pauper 2 </a> | <a href=""> Pauper 3 </a>
            </div>
        </nav>

        <div id="contentContainer">
            <div id="musicList">
                <a href=""><div class="musicListItems">Despacito - Luis Fonsi ft. Daddy Yankee</div></a>
                <a href=""><div class="musicListItems">Shape of you - Ed Sheeran</div></a>
                <a href=""><div class="musicListItems">It ain't me - Kygo & Selena Gomez</div></a>
                <a href=""><div class="musicListItems">Symphony - Clean Bandit feat. Zara Larsson</div></a>
                <a href=""><div class="musicListItems">Alleen - Lil Kleine</div></a>
            </div>
            

            <div id="content">
                pauper
            </div>
        </div>

    </div>
</body>
</html>
