@using System.Data;
@{ 


 
        DataSet ds = new DataSet("playlist");
        DataTable dtSongs = new DataTable("song");

        DataColumn dtID = new DataColumn("id");
        DataColumn dtArtist = new DataColumn("artist");
        DataColumn dtTitle = new DataColumn("title");
        DataColumn dtYear = new DataColumn("year");
        DataColumn dtGenre = new DataColumn("genre");
        DataColumn dtTime = new DataColumn("time");
        DataColumn dtFile = new DataColumn("file");

        ds.Tables.Add(dtSongs);
        dtSongs.Columns.Add(dtID);
        dtSongs.Columns.Add(dtArtist);
        dtSongs.Columns.Add(dtTitle);
        dtSongs.Columns.Add(dtYear);
        dtSongs.Columns.Add(dtGenre);
        dtSongs.Columns.Add(dtTime);
        dtSongs.Columns.Add(dtFile);

        ds.ReadXml(Server.MapPath("data/playlist.xml"));

    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <title>C# Brendan en Kris</title>
</head>
<body>
    <div id="container">

        <header>
            <div id="headerTitle">
                <a href="">Pauper B.V.</a>
            </div>
        </header>

        <nav>
            <div id="navItems">
                <a href=""> XML </a>| <a href=""> JSON </a> | <a href=""> Pauper 1 </a> | <a href=""> Pauper 2 </a> | <a href=""> Pauper 3 </a>
            </div>
        </nav>

        <div id="contentContainer">
            <div id="musicList">
                @foreach (DataRow dr in ds.Tables[0].Rows)
                {
                    <a href=""><div class="musicListItems">@dr["artist"]  -  @dr["title"]</div></a>
                }
            </div>
            

            <div id="content">
                
            </div>
        </div>

    </div>
</body>
</html>
