@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <title>C# Brendan en Kris</title>
</head>
<body>
    <div id="container">

        <header>
            <div id="headerTitle">
                <a href="">Pauper B.V.</a>
            </div>
        </header>

        <nav>
            nav
        </nav>

        <div id="content">
            die border is alleen zodat je kan zien waar de div is, niet janken kris :)
        </div>

    </div>
</body>
</html>
