@using System.Data;
@using project_Csharp.csfiles;
@{ 

    Xml xml = new Xml();


    xml.getSongs();

    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <title>C# Brendan en Kris</title>
</head>
<body>
    <div id="container">

        <header>
            <div id="headerTitle">
                <a href="">Pauper B.V.</a>
            </div>
        </header>

        <nav>
            <div id="navItems">
                <a href=""> XML </a>| <a href=""> JSON </a> | <a href="~/addSong.cshtml"> Pauper 1 </a> | <a href=""> Pauper 2 </a> | <a href=""> Pauper 3 </a>
            </div>
        </nav>

        <div id="contentContainer" min>
            <div id="musicList">
                <div id="musicListHeader">Muziek</div>
                @foreach (DataRow dr in xml.ds.Tables[0].Rows)
                {
                    <a href=""><div class="musicListItems">@dr["artist"]  -  @dr["title"]</div></a>
                }
            </div>
            

            <div id="content">

            </div>
        </div>

    </div>
</body>
</html>
