@using pauperbv_2._0.Models;
@{
    ViewBag.Title = "delete";

    Movies movies = new Movies();

    string id = HttpContext.Current.Request.QueryString["id"];

    movies.delete(id);

    Response.Redirect("show");


}

<h2>delete</h2>

