@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pauper B.V.</h1>
    <p class="lead">Pauper B.V is een web applicatie waarmee je muziek kan afspelen, je kan je playlist uitbreiden en de liedjes verwijderen.</p>
    <p><a href="http://brendanvanderlaan.nl" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Dit is het C# project van Brendan en Kris, met deze webapplicatie kun je movies afspelen en liedjes afspelen.
        </p>
        <p><a class="btn btn-default" href="http://php.krisbroekstra.nl/main/home">Support &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Playlist</h2>
        <p>ga hier naar de playist toe.</p>
        <p><a class="btn btn-default" href="../Song/show">Ga nu! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>Ga hier naar de movies toe</p>
        <p><a class="btn btn-default" href="../Movie/show">Ga nu! &raquo;</a></p>
    </div>
</div>