@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pauper B.V.</h1>
    <p class="lead">Welkom bij het mooi Csharp project van Brendan en kris. neem gerust een kijkje rond. voor meer infromatie klik op de knop hieronder</p>
    <p><a href="http://brendanvanderlaan.nl" class="btn btn-primary btn-lg">leer meer! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           krijg hier meer uitleg van de web-applicatie. bij onduidelijkheid graag contact op nemen met de beheerders (Brendan en Kris)
        </p>
        <p><a class="btn btn-default" href="http://php.krisbroekstra.nl/main/home">meer informatie &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Playlist</h2>
        <p>ga hier naar de playist toe.</p>
        <p><a class="btn btn-default" href="../Song/show">Ga nu! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>Ga hier naar de movies toe</p>
        <p><a class="btn btn-default" href="../Movie/show">Ga nu! &raquo;</a></p>
    </div>
</div>