body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    background-color: #EFEFEF;
}


a{
    text-decoration: none;
    color : inherit;
}


header{
    width : 100%;
    height: 100px;
    background-color: #0485c5;
}

#headerTitle {
    text-align: center;
    padding-top: 35px;
}

#headerTitle a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 40px;
    background-color: #015F8E;
}

#navItems{
    padding: 10px;
    height: 30px;
    color: #fff;
    text-align: center;
}

#contentContainer{
    width: 100%;
    float: left;
    position: absolute;
    top: 140px;
    bottom: 0px;
    margin-top: 10px;
}

#musicList{
    background-color: #fff;
    float: left;
    width : 350px;
    height: 100%;
}

#musicListHeader{
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    background-color: #0485c5;
    color : #fff;
}

.musicListItems{
    padding: 10px;
    margin: 0;
    width: 330px;
    display: flex;
    transition: 0.7s;
    border-bottom: 2px solid #EFEFEF;
}

.musicListItems:hover{
    background-color :  #EFEFEF;
}

#content{
    position: absolute;
    height: 100%;
    background-color: #fff;
    right: 0px;
    left: 360px;
    bottom: 0;
}
