@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pauperbv</title>
</head>
<body>
    <div>
        welkom bij pauper bv\
        dikkeboktor
    </div>
</body>
</html>
